In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('archivos/spotify_top_1000_tracks.csv')

In [3]:
df['release_date'] = pd.to_datetime(df['release_date'],format='mixed')
df

,track_name,artist,album,release_date,popularity,spotify_url,id,duration_min
0,All The Stars (with SZA),Kendrick Lamar,Black Panther The Album Music From And Inspire...,2018-02-09,95,https://open.spotify.com/track/3GCdLUSnKSMJhs4...,3GCdLUSnKSMJhs4Tj6CV3s,3.869767
1,Starboy,The Weeknd,Starboy,2016-11-25,90,https://open.spotify.com/track/7MXVkk9YMctZqd1...,7MXVkk9YMctZqd1Srtv4MB,3.840883
2,Señorita,Shawn Mendes,Señorita,2019-06-21,80,https://open.spotify.com/track/0TK2YIli7K1leLo...,0TK2YIli7K1leLovkQiNik,3.182667
3,Heat Waves,Glass Animals,Dreamland,2020-08-07,87,https://open.spotify.com/track/3USxtqRwSYz57Ew...,3USxtqRwSYz57Ewm6wWRMp,3.980083
4,Let Me Love You,DJ Snake,Encore,2016-08-05,87,https://open.spotify.com/track/0lYBSQXN6rCTvUZ...,0lYBSQXN6rCTvUZvg9S0lU,3.432433
...,...,...,...,...,...,...,...,...
995,Lily,ISAEV,Lily,2023-02-24,0,https://open.spotify.com/track/4tVhDkvh6N4lrTy...,4tVhDkvh6N4lrTyNeZHYuz,2.572100
996,Apologize,Besomorph,Apologize,2020-05-08,5,https://open.spotify.com/track/0Uo43DNldd7aNxi...,0Uo43DNldd7aNxizhKgowg,2.443350
997,I’m Good,Yohan Gerber,I’m Good,2023-05-19,0,https://open.spotify.com/track/2aZL4EjY5aPKWTO...,2aZL4EjY5aPKWTO7RKuWiy,2.376000
998,Down,Arc North,Down,2020-07-02,1,https://open.spotify.com/track/6nQZG4G0vIrQWaC...,6nQZG4G0vIrQWaCGbqHCQn,2.391667
999,Chandelier,Besomage,Chandelier,2023-01-04,0,https://open.spotify.com/track/1Ea8I3MoGx36FfA...,1Ea8I3MoGx36FfAmrjzo1r,2.295650

### Top 5 Artistas mas populares

In [7]:
df.groupby('artist')['popularity'].mean().reset_index().sort_values(by='popularity',ascending=False).head(5)

             artist  popularity
188   Gracie Abrams        97.0
383            ROSÉ        96.0
39   Arctic Monkeys        93.0
493        WizTheMc        92.0
524        yung kai        92.0

### Progreso en la popularidad de los Artistas por año

In [8]:
df['Year'] = df['release_date'].dt.year
df['Year'].describe()

count    1000.000000
mean     2017.139000
std         6.361615
min      1976.000000
25%      2014.000000
50%      2018.000000
75%      2022.000000
max      2025.000000
Name: Year, dtype: float64

In [10]:
popularidad_y = df[df['Year']>=2018].groupby(['artist','Year'])['popularity'].mean().reset_index().sort_values(by='popularity',ascending=False)

In [11]:
popularidad_y

                 artist  Year  popularity
156       Gracie Abrams  2024        97.0
312                ROSÉ  2024        96.0
207      Kendrick Lamar  2018        95.0
380          The Weeknd  2023        93.0
429            yung kai  2024        92.0
..                  ...   ...         ...
112  Divine Deluxe Hitz  2022         0.0
407          Yagih Mael  2021         0.0
408         Yellow Pvnk  2023         0.0
409         Yellow Pvnk  2024         0.0
242                MOHA  2023         0.0

[430 rows x 3 columns]

In [ ]:
pop_ = pd.pivot_table(popularidad_y,index='artist',columns='Year',values='popularity',aggfunc='sum',fill_value=0).reset_index()
#pop_
pd.pivot(popularidad_y,index='artist',columns='Year').reset_index().fillna(0)

                   artist popularity
Year                            2018 2019  2020  2021 2022  2023  2024 2025
0                24kGoldn        0.0  0.0   0.0  79.0  0.0   0.0   0.0  0.0
1                    2WEI        4.0  0.0   0.0   0.0  0.0   0.0   0.0  0.0
2                347aidan        0.0  0.0  67.0  70.0  0.0   0.0   0.0  0.0
3     5 Seconds of Summer       83.0  0.0   0.0   0.0  0.0   0.0   0.0  0.0
4                54GODART        0.0  0.0   0.0   0.0  0.0   0.0  37.0  0.0
..                    ...        ...  ...   ...   ...  ...   ...   ...  ...
347             ptasinski        0.0  0.0   0.0   0.0  0.0   0.0  79.0  0.0
348           salem ilese        0.0  0.0   2.0   0.0  0.0   0.0   0.0  0.0
349     sped up nightcore        0.0  0.0   0.0   0.0  0.0  55.0   0.0  0.0
350              vaultboy        0.0  0.0   0.0  61.5  0.0   0.0   0.0  0.0
351              yung kai        0.0  0.0   0.0   0.0  0.0   0.0  92.0  0.0

[352 rows x 9 columns]

### Top 5 Artistas de los ultimos años

In [16]:
anios = popularidad_y['Year'].unique().tolist()
anios = sorted(anios)

In [17]:
anios

[2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025]

In [18]:
popularidad_y

                 artist  Year  popularity
156       Gracie Abrams  2024        97.0
312                ROSÉ  2024        96.0
207      Kendrick Lamar  2018        95.0
380          The Weeknd  2023        93.0
429            yung kai  2024        92.0
..                  ...   ...         ...
112  Divine Deluxe Hitz  2022         0.0
407          Yagih Mael  2021         0.0
408         Yellow Pvnk  2023         0.0
409         Yellow Pvnk  2024         0.0
242                MOHA  2023         0.0

[430 rows x 3 columns]

In [19]:
diccionario = {}
for year in anios:
    temp = popularidad_y[popularidad_y['Year']==year]
    diccionario[year] = temp.head(5)['artist'].reset_index(drop = True)

In [20]:
diccionario.keys()

dict_keys([2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025])

In [21]:
diccionario.values()

dict_values([0    Kendrick Lamar
1     Billie Eilish
2              ZAYN
3         Sean Paul
4     Alec Benjamin
Name: artist, dtype: object, 0    Lewis Capaldi
1        Lil Tecca
2     Travis Scott
3         Doja Cat
4    Gesaffelstein
Name: artist, dtype: object, 0    Glass Animals
1       Kali Uchis
2      Don Toliver
3      Miley Cyrus
4         Dua Lipa
Name: artist, dtype: object, 0        Tory Lanez
1          Maroon 5
2    Olivia Rodrigo
3     Justin Bieber
4             Egzod
Name: artist, dtype: object, 0                  Djo
1         Harry Styles
2         David Guetta
3    Sabrina Carpenter
4                  SZA
Name: artist, dtype: object, 0                   The Weeknd
1                        CYRIL
2                 Lana Del Rey
3    Dimitri Vegas & Like Mike
4                     Doja Cat
Name: artist, dtype: object, 0        Gracie Abrams
1                 ROSÉ
2             yung kai
3        Billie Eilish
4    Sabrina Carpenter
Name: artist, dtype: object, 0      WizTheMc
1       Doechii
2    The Weeknd
3          MXZI
4       Gaullin
Name: artist, dtype: object])

In [22]:
top_5 = pd.concat(diccionario.values(),axis=1)

In [23]:
top_5.columns = diccionario.keys()

In [24]:
top_5

,2018,2019,2020,2021,2022,2023,2024,2025
0,Kendrick Lamar,Lewis Capaldi,Glass Animals,Tory Lanez,Djo,The Weeknd,Gracie Abrams,WizTheMc
1,Billie Eilish,Lil Tecca,Kali Uchis,Maroon 5,Harry Styles,CYRIL,ROSÉ,Doechii
2,ZAYN,Travis Scott,Don Toliver,Olivia Rodrigo,David Guetta,Lana Del Rey,yung kai,The Weeknd
3,Sean Paul,Doja Cat,Miley Cyrus,Justin Bieber,Sabrina Carpenter,Dimitri Vegas & Like Mike,Billie Eilish,MXZI
4,Alec Benjamin,Gesaffelstein,Dua Lipa,Egzod,SZA,Doja Cat,Sabrina Carpenter,Gaullin

### Historial de popularidad

In [28]:
pop_

Year               artist  2018  2019  2020  2021  2022  2023  2024  2025
0                24kGoldn   0.0   0.0   0.0  79.0   0.0   0.0   0.0   0.0
1                    2WEI   4.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2                347aidan   0.0   0.0  67.0  70.0   0.0   0.0   0.0   0.0
3     5 Seconds of Summer  83.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
4                54GODART   0.0   0.0   0.0   0.0   0.0   0.0  37.0   0.0
..                    ...   ...   ...   ...   ...   ...   ...   ...   ...
347             ptasinski   0.0   0.0   0.0   0.0   0.0   0.0  79.0   0.0
348           salem ilese   0.0   0.0   2.0   0.0   0.0   0.0   0.0   0.0
349     sped up nightcore   0.0   0.0   0.0   0.0   0.0  55.0   0.0   0.0
350              vaultboy   0.0   0.0   0.0  61.5   0.0   0.0   0.0   0.0
351              yung kai   0.0   0.0   0.0   0.0   0.0   0.0  92.0   0.0

[352 rows x 9 columns]

In [29]:
pop_.melt(id_vars='artist').dropna()

                   artist  Year  value
0                24kGoldn  2018    0.0
1                    2WEI  2018    4.0
2                347aidan  2018    0.0
3     5 Seconds of Summer  2018   83.0
4                54GODART  2018    0.0
...                   ...   ...    ...
2811            ptasinski  2025    0.0
2812          salem ilese  2025    0.0
2813    sped up nightcore  2025    0.0
2814             vaultboy  2025    0.0
2815             yung kai  2025    0.0

[2816 rows x 3 columns]

In [30]:
df_2 = pd.read_csv('archivos/light_spotify_dataset.csv')
df_2

,artist,song,emotion,variance,Genre,Release Date,Key,Tempo,Loudness,Explicit,Popularity,Energy,Danceability,Positiveness,Speechiness,Liveness,Acousticness,Instrumentalness
0,ABBA,She's My Kind Of Girl,joy,0.447619,pop,2014,F Maj,128,-6.00,No,31,78,56,60,3,31,7,0
1,ABBA,"Andante, Andante",love,0.202222,pop,1980,A# Maj,102,-10.72,No,59,36,52,38,2,7,68,0
2,ABBA,As Good As New,sadness,0.300881,pop,1979,E Maj,139,-5.70,No,50,78,85,97,3,8,20,2
3,ABBA,Bang,joy,0.355000,pop,1975,F Maj,132,-3.00,No,52,76,50,89,3,32,3,0
4,ABBA,Bang-A-Boomerang,joy,0.355000,pop,1975,F Maj,132,-3.00,No,52,76,50,89,3,32,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236983,(Eri Sasaki),Gate Of Steiner,sadness,0.833514,"Unknown,Unknown,Unknown",2018,D min,148,-6.44,No,41,61,41,37,4,14,20,0
236984,(Elena Tsagrinou),El Diablo,love,0.833514,"Unknown,Unknown,Unknown",2021,A min,114,-7.78,No,51,66,66,62,13,84,0,0
236985,(Dima Bilan),Believe,joy,0.833514,"Unknown,Unknown,Unknown",2009,C min,134,-6.72,No,36,73,55,24,5,22,5,0
236986,(Ani Lorak),Shady Lady,joy,0.833514,"Unknown,Unknown,Unknown",2009,F# min,128,-13.00,No,37,70,71,77,5,7,5,0
236987,(Alla Pugacheva) & 50 Cent,Позови меня P.I.M.P,anger,0.833514,"Unknown,Unknown,Unknown",2023,B Maj,175,-7.15,No,54,91,42,32,8,38,0,84

In [31]:
df_2 = df_2[~df_2['Genre'].str.contains(",")]

In [32]:
df_2

,artist,song,emotion,variance,Genre,Release Date,Key,Tempo,Loudness,Explicit,Popularity,Energy,Danceability,Positiveness,Speechiness,Liveness,Acousticness,Instrumentalness
0,ABBA,She's My Kind Of Girl,joy,0.447619,pop,2014,F Maj,128,-6.00,No,31,78,56,60,3,31,7,0
1,ABBA,"Andante, Andante",love,0.202222,pop,1980,A# Maj,102,-10.72,No,59,36,52,38,2,7,68,0
2,ABBA,As Good As New,sadness,0.300881,pop,1979,E Maj,139,-5.70,No,50,78,85,97,3,8,20,2
3,ABBA,Bang,joy,0.355000,pop,1975,F Maj,132,-3.00,No,52,76,50,89,3,32,3,0
4,ABBA,Bang-A-Boomerang,joy,0.355000,pop,1975,F Maj,132,-3.00,No,52,76,50,89,3,32,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236850,"""Weird Al"" Yankovic",This Songs Just Six Words Long,joy,0.833514,comedy,1988,E Maj,150,-10.27,No,36,69,83,97,6,10,4,0
236851,"""Weird Al"" Yankovic",I Love Rocky Road,joy,0.833514,comedy,1983,G Maj,102,-9.00,No,43,73,83,91,16,7,43,0
236852,"""Weird Al"" Yankovic",Confessions Part III,sadness,0.833514,comedy,1996,G# Maj,81,-10.54,No,57,45,73,48,17,27,10,0
236853,"""Weird Al"" Yankovic",Happy Birthday,joy,0.833514,comedy,1983,D Maj,99,-9.82,No,34,76,66,93,12,44,8,0
236854,"""Macho Man"" Randy Savage",Be a Man,anger,0.833514,rap,2019,G# min,140,-7.72,Yes,0,73,69,79,30,48,1,2

In [33]:
explicit = pd.pivot_table(df_2.groupby(['Genre','Explicit']).size().reset_index(),index='Genre',columns='Explicit',values=0,aggfunc='sum',fill_value=0).reset_index()

In [36]:
df_2.columns

Index(['artist', 'song', 'emotion', 'variance', 'Genre', 'Release Date', 'Key',
       'Tempo', 'Loudness', 'Explicit', 'Popularity', 'Energy', 'Danceability',
       'Positiveness', 'Speechiness', 'Liveness', 'Acousticness',
       'Instrumentalness'],
      dtype='object')

In [37]:
pd.pivot_table(df_2,index='Genre',columns='Explicit',values='artist',aggfunc='count',fill_value=0).reset_index()

Explicit        Genre     No    Yes
0             Unknown    283      6
1         alternative  16945   2104
2           christian   2865     16
3              comedy    640    391
4          electronic   4397    747
5                folk  10228    392
6             hip-hop   4349  12968
7                jazz   4249     53
8               metal   8277   2214
9               opera     90      0
10                pop  42561   4322
11        progressive   2931     95
12                rap   4754  28450
13             reggae   1780    177
14               rock  12833    123
15               soul   7230   1511
16         soundtrack   2481     95
17              world    235     73
18               xmas    294      6

In [34]:
explicit

Explicit        Genre     No    Yes
0             Unknown    283      6
1         alternative  16945   2104
2           christian   2865     16
3              comedy    640    391
4          electronic   4397    747
5                folk  10228    392
6             hip-hop   4349  12968
7                jazz   4249     53
8               metal   8277   2214
9               opera     90      0
10                pop  42561   4322
11        progressive   2931     95
12                rap   4754  28450
13             reggae   1780    177
14               rock  12833    123
15               soul   7230   1511
16         soundtrack   2481     95
17              world    235     73
18               xmas    294      6

In [38]:
explicit['Explicit %'] = explicit['Yes']/(explicit['No']+explicit['Yes'])
explicit.sort_values(by='Explicit %',ascending=False)

Explicit        Genre     No    Yes  Explicit %
12                rap   4754  28450    0.856824
6             hip-hop   4349  12968    0.748860
3              comedy    640    391    0.379243
17              world    235     73    0.237013
8               metal   8277   2214    0.211038
15               soul   7230   1511    0.172864
4          electronic   4397    747    0.145218
1         alternative  16945   2104    0.110452
10                pop  42561   4322    0.092187
13             reggae   1780    177    0.090445
5                folk  10228    392    0.036911
16         soundtrack   2481     95    0.036879
11        progressive   2931     95    0.031395
0             Unknown    283      6    0.020761
18               xmas    294      6    0.020000
7                jazz   4249     53    0.012320
14               rock  12833    123    0.009494
2           christian   2865     16    0.005554
9               opera     90      0    0.000000

In [39]:
###Segunda Base
df_2

,artist,song,emotion,variance,Genre,Release Date,Key,Tempo,Loudness,Explicit,Popularity,Energy,Danceability,Positiveness,Speechiness,Liveness,Acousticness,Instrumentalness
0,ABBA,She's My Kind Of Girl,joy,0.447619,pop,2014,F Maj,128,-6.00,No,31,78,56,60,3,31,7,0
1,ABBA,"Andante, Andante",love,0.202222,pop,1980,A# Maj,102,-10.72,No,59,36,52,38,2,7,68,0
2,ABBA,As Good As New,sadness,0.300881,pop,1979,E Maj,139,-5.70,No,50,78,85,97,3,8,20,2
3,ABBA,Bang,joy,0.355000,pop,1975,F Maj,132,-3.00,No,52,76,50,89,3,32,3,0
4,ABBA,Bang-A-Boomerang,joy,0.355000,pop,1975,F Maj,132,-3.00,No,52,76,50,89,3,32,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236850,"""Weird Al"" Yankovic",This Songs Just Six Words Long,joy,0.833514,comedy,1988,E Maj,150,-10.27,No,36,69,83,97,6,10,4,0
236851,"""Weird Al"" Yankovic",I Love Rocky Road,joy,0.833514,comedy,1983,G Maj,102,-9.00,No,43,73,83,91,16,7,43,0
236852,"""Weird Al"" Yankovic",Confessions Part III,sadness,0.833514,comedy,1996,G# Maj,81,-10.54,No,57,45,73,48,17,27,10,0
236853,"""Weird Al"" Yankovic",Happy Birthday,joy,0.833514,comedy,1983,D Maj,99,-9.82,No,34,76,66,93,12,44,8,0
236854,"""Macho Man"" Randy Savage",Be a Man,anger,0.833514,rap,2019,G# min,140,-7.72,Yes,0,73,69,79,30,48,1,2

In [40]:
df_2['Energy'].describe()

count    181165.000000
mean         63.004074
std          22.452802
min           0.000000
25%          48.000000
50%          65.000000
75%          81.000000
max         100.000000
Name: Energy, dtype: float64

In [41]:
pd.qcut(df_2['Energy'],q = 4)

0           (65.0, 81.0]
1         (-0.001, 48.0]
2           (65.0, 81.0]
3           (65.0, 81.0]
4           (65.0, 81.0]
               ...
236850      (65.0, 81.0]
236851      (65.0, 81.0]
236852    (-0.001, 48.0]
236853      (65.0, 81.0]
236854      (65.0, 81.0]
Name: Energy, Length: 181165, dtype: category
Categories (4, interval[float64, right]): [(-0.001, 48.0] < (48.0, 65.0] < (65.0, 81.0] < (81.0, 100.0]]

In [42]:
bins = [0,25,50,75,100]
Nombres = ['Muy Baja','Baja','Alta','Muy Alta']
df_2['Class Energy'] = pd.cut(df_2['Energy'],bins=bins, labels=Nombres)
df_2['Class Energy']

C:\Users\cordoniez\AppData\Local\Temp\ipykernel_51952\564522239.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2['Class Energy'] = pd.cut(df_2['Energy'],bins=bins, labels=Nombres)

0         Muy Alta
1             Baja
2         Muy Alta
3         Muy Alta
4         Muy Alta
            ...
236850        Alta
236851        Alta
236852        Baja
236853    Muy Alta
236854        Alta
Name: Class Energy, Length: 181165, dtype: category
Categories (4, object): ['Muy Baja' < 'Baja' < 'Alta' < 'Muy Alta']

In [43]:
temp = df_2.groupby(['Genre','Class Energy']).size().reset_index(name='Cantidad')
temp

C:\Users\cordoniez\AppData\Local\Temp\ipykernel_51952\223827507.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  temp = df_2.groupby(['Genre','Class Energy']).size().reset_index(name='Cantidad')

          Genre Class Energy  Cantidad
0       Unknown     Muy Baja         3
1       Unknown         Baja        43
2       Unknown         Alta        93
3       Unknown     Muy Alta       150
4   alternative     Muy Baja      1022
..          ...          ...       ...
71        world     Muy Alta       113
72         xmas     Muy Baja        64
73         xmas         Baja       131
74         xmas         Alta        74
75         xmas     Muy Alta        31

[76 rows x 3 columns]

In [45]:
temp.sort_values(by='Class Energy',ascending=False)

         Genre Class Energy  Cantidad
75        xmas     Muy Alta        31
59        rock     Muy Alta      4621
27     hip-hop     Muy Alta      5926
35       metal     Muy Alta      8382
39       opera     Muy Alta        18
..         ...          ...       ...
56        rock     Muy Baja       693
16  electronic     Muy Baja       211
32       metal     Muy Baja       109
52      reggae     Muy Baja        37
0      Unknown     Muy Baja         3

[76 rows x 3 columns]

In [44]:
pd.pivot_table(temp,index='Genre',columns='Class Energy',values='Cantidad',aggfunc='sum').reset_index()

Class Energy        Genre  Muy Baja   Baja   Alta  Muy Alta
0                 Unknown         3     43     93       150
1             alternative      1022   3052   5593      9372
2               christian       290    901    932       756
3                  comedy        49    266    399       317
4              electronic       211    863   1993      2077
5                    folk      2629   4215   2687      1087
6                 hip-hop       255   2503   8628      5926
7                    jazz      1708   1521    741       327
8                   metal       109    488   1504      8382
9                   opera        16     38     18        18
10                    pop      3354  11258  17543     14708
11            progressive       236    697    987      1105
12                    rap       471   5494  17678      9555
13                 reggae        37    439    994       486
14                   rock       693   3087   4552      4621
15                   soul       668   3203   3678      1192
16             soundtrack       513    851    694       516
17                  world        32     62    101       113
18                   xmas        64    131     74        31