In [1]:
### Importar las librerias necesarias
import pandas as pd

# 1. Lectura de archivos

In [6]:
### Fuentes usuales csv, excel, bases de datos sql
df = pd.read_csv('archivos/auto.csv')
### lectura del archivo excel 
# df = pd.read_excel('')

In [16]:
### lectura de un archivo en un portal de github
#df = pd.read_csv('https://raw.githubusercontent.com/carlosordo/Intro-Python/refs/heads/main/Clase%201/archivos/auto.csv')

In [ ]:
## lectura de una tabla en una base de datos usando pyodbc

In [ ]:
### Fuentes no tan usuales json, parquet...

# 2. Visualizacion general de las tablas

In [19]:
### Nombres de las columnas
Names = ["symboling","normalized-losses","make","fuel type","aspiration", "num-of-doors",
         "body-style", "drive wheels","engine-location","wheel-base", "length","width",
         "height","curb-weight","engine-type", "num-of-cylinders", "engine-size","fuel system",
         "bore","stroke","compression-ratio",
         "horsepower", "peak-rpm","city-mpg","highway-mpg","price"]
df.columns = Names

In [20]:
### Usando un print
print(df)

     symboling normalized-losses         make fuel type aspiration  \
0            3                 ?  alfa-romero       gas        std
1            1                 ?  alfa-romero       gas        std
2            2               164         audi       gas        std
3            2               164         audi       gas        std
4            2                 ?         audi       gas        std
..         ...               ...          ...       ...        ...
199         -1                95        volvo       gas        std
200         -1                95        volvo       gas      turbo
201         -1                95        volvo       gas        std
202         -1                95        volvo    diesel      turbo
203         -1                95        volvo       gas      turbo

    num-of-doors   body-style drive wheels engine-location  wheel-base  ...  \
0            two  convertible          rwd           front        88.6  ...
1            two    hatchback          rwd           front        94.5  ...
2           four        sedan          fwd           front        99.8  ...
3           four        sedan          4wd           front        99.4  ...
4            two        sedan          fwd           front        99.8  ...
..           ...          ...          ...             ...         ...  ...
199         four        sedan          rwd           front       109.1  ...
200         four        sedan          rwd           front       109.1  ...
201         four        sedan          rwd           front       109.1  ...
202         four        sedan          rwd           front       109.1  ...
203         four        sedan          rwd           front       109.1  ...

     engine-size  fuel system  bore  stroke compression-ratio horsepower  \
0            130         mpfi  3.47    2.68               9.0        111
1            152         mpfi  2.68    3.47               9.0        154
2            109         mpfi  3.19    3.40              10.0        102
3            136         mpfi  3.19    3.40               8.0        115
4            136         mpfi  3.19    3.40               8.5        110
..           ...          ...   ...     ...               ...        ...
199          141         mpfi  3.78    3.15               9.5        114
200          141         mpfi  3.78    3.15               8.7        160
201          173         mpfi  3.58    2.87               8.8        134
202          145          idi  3.01    3.40              23.0        106
203          141         mpfi  3.78    3.15               9.5        114

     peak-rpm city-mpg highway-mpg  price
0        5000       21          27  16500
1        5000       19          26  16500
2        5500       24          30  13950
3        5500       18          22  17450
4        5500       19          25  15250
..        ...      ...         ...    ...
199      5400       23          28  16845
200      5300       19          25  19045
201      5500       18          23  21485
202      4800       26          27  22470
203      5400       19          25  22625

[204 rows x 26 columns]

In [21]:
df

,symboling,normalized-losses,make,fuel type,aspiration,num-of-doors,body-style,drive wheels,engine-location,wheel-base,...,engine-size,fuel system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
201,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
202,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
203,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [22]:
df.head(5)

,symboling,normalized-losses,make,fuel type,aspiration,num-of-doors,body-style,drive wheels,engine-location,wheel-base,...,engine-size,fuel system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [23]:
df.tail(5)

,symboling,normalized-losses,make,fuel type,aspiration,num-of-doors,body-style,drive wheels,engine-location,wheel-base,...,engine-size,fuel system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
199,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
201,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
202,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
203,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [24]:
df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel type', 'aspiration',
       'num-of-doors', 'body-style', 'drive wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [25]:
df.shape

(204, 26)

In [26]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel type             object
aspiration            object
num-of-doors          object
body-style            object
drive wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          204 non-null    int64
 1   normalized-losses  204 non-null    object
 2   make               204 non-null    object
 3   fuel type          204 non-null    object
 4   aspiration         204 non-null    object
 5   num-of-doors       204 non-null    object
 6   body-style         204 non-null    object
 7   drive wheels       204 non-null    object
 8   engine-location    204 non-null    object
 9   wheel-base         204 non-null    float64
 10  length             204 non-null    float64
 11  width              204 non-null    float64
 12  height             204 non-null    float64
 13  curb-weight        204 non-null    int64
 14  engine-type        204 non-null    object
 15  num-of-cylinders   204 non-null    object
 16  engine-size        204 non-null    int64
 17  fuel system        204 non-null    object
 18  bore               204 non-null    object
 19  stroke             204 non-null    object
 20  compression-ratio  204 non-null    float64
 21  horsepower         204 non-null    object
 22  peak-rpm           204 non-null    object
 23  city-mpg           204 non-null    int64
 24  highway-mpg        204 non-null    int64
 25  price              204 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.6+ KB

In [ ]:
# valores unicos y cantidad de valores unicos

In [ ]:
# distribucion de una columna

In [ ]:
# distribucion de una columna numerica

In [28]:
df.describe()

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000
mean,0.823529,98.806373,174.075000,65.916667,53.749020,2555.602941,126.892157,10.148137,25.240196,30.769608
std,1.239035,5.994144,12.362123,2.146716,2.424901,521.960820,41.744569,3.981000,6.551513,6.898337
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.075000,52.000000,2145.000000,97.000000,8.575000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,119.500000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.200000,66.900000,55.500000,2939.250000,142.000000,9.400000,30.000000,34.500000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

# 3. Filtros y ordenamiento

In [ ]:
### soltar una columna que no necesitamos

### quedarnos con las columnas que necesitamos


### df = pd.read_csv('archivos/auto.csv',columns =[])

In [ ]:
### ordenar en funcion a una columna
df.sort_values(by =)

In [ ]:
### ordenar una tabla en funcion de mas de una campo

In [ ]:
### filtrar una tabla con una caracteristica
df[df[''].isnull()]

# 4. Creacion de nuevas columnas

In [ ]:
### Generamos una nueva columna

In [ ]:
### Hagamos una funcion considerando mas de una columna

### Generamos una columna con una condicion

# 5. Escritura de un nuevo archivo

In [ ]:
df.to_csv('Salida.csv')
df.to_excel('Salida.xlsx')